import * as React from "react";
import { StoreProvider, Relax } from "plume2";
import AppStore from "./store";
 <% pageInfo.subComps.forEach(subComp=>{ %>
import <%=Util.toUCamelize(subComp.fileName)%> from "./components/<%=subComp.fileName%>"; %>
 <% }) %>
import "./index.less.ejs";

@StoreProvider(AppStore, { debug: __DEV__ })
export default class <%=className%> extends React.Component<any, any> {
  render() {
    return (
      <div className="<%=instanceName%>">
      </div>
    );
  }
}
