# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


.editorconfig
.eslintignore
.eslintrc.js
.prettierrc
.wepycache
.wepyignore

#忽略上传的文件夹
**/.vscode/**
**/.idea/**
**/build/**
**/dist/**
**/static/**
**/node_modules/**
**/false/**
**/logs/**
**/run/**
img/**

#忽略上传的文件
**/yarn.lock
**/.DS_Store
**/npm-debug.log
**/yarn-error.log
**/custom.json

#IDE
**/*.iml
